{% extends 'layout.twig' %} 

{%  block body %} 
   {# {{dump()}} #}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-md-3">
                <form class="box mt-5" action="?controller=connect&action=login" method="post" name="login">
                    <h1 class="box-title">Connexion</h1> 
                    {% if error == true %}
                    <p class="text-danger">Une erreur est survenue</p>
                    {% endif %}
                    <input type="text" class="box-input" name="username" placeholder="Nom d'utilisateur">
                    <input type="password" class="box-input" name="password" placeholder="Mot de passe">
                    <input type="submit" value="Connexion " name="submit" class="box-button">
                    <p class="box-register">Vous êtes nouveau ici? <a href="?controller=create">S'inscrire</a></p>
                </form>
            </div> 
        </div> 
    </div>
    
{%  endblock %}     
  