{% extends 'layout.twig' %} 

{%  block body %} 
    <div class="container">
        <div class="row">
            <div class="col-6 offset-md-3">
                <form class="box mt-5" action="?controller=create&action=create" method="post" name="create">
                    <h1 class="box-title text-center">S'incrire</h1>
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" name="nom" placeholder="Nom">
                    </div>
                    <div class="form-group">
                        <label>Prénom</label>
                        <input type="text" class="form-control" name="prenom" placeholder="Prénom">
                    </div>
                    <div class="form-group">
                        <label>Nom d'utilisateur</label>
                        <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur">
                    </div>
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" class="form-control" name="password" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <label>Admin/Observateur</label>
                        <select class="form-control" name="admin">
                            <option value="1">Administrateur</option>
                            <option value="2">Observateur</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Activé/Non activé</label>
                        <select class="form-control" name="active">
                            <option value="1">Activé</option>
                            <option value="2">Non activé</option>
                        </select>
                    </div>
                    <input type="hidden" value="test" name="observateur">
                    <button type="submit" class="btn btn-primary">Connexion</button>
                    <input type="submit" value="S'inscrire " name="submit" class="btn btn-primary float-right">
                    <p class="box-register mb-5">Vous avez déjà un compte? <a href="?controller=home">Se connecter</a></p> 
                </form>
            </div> 
        </div> 
    </div>
{%  endblock %}
 