{% extends 'layout.twig' %} 

{%  block body %} 
      <section class="container mt-5"> 
         <!-- {{ clubs }} -->
         <h1 class="text-center mb-4">Liste des clubs</h1>
         <table class="table">
            <thead> 
               <tr>
                  <th scope="col">Id</th>
                  <th scope="col">#</th>
                  <th scope="col">#</th>
                  <th scope="col">#</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row">Nom d'équipe</th>
                  <td>#</td>
                  <td>#</td>
                  <td>#</td>
               </tr>
               <tr>
                  <th scope="row">Nom d'entraineur</th>
                  <td>#</td>
                  <td>#</td>
                  <td>#</td>
               </tr>
               <tr>
                  <th scope="row">Logo équipe</th>
                  <td>#</td>
                  <td>#</td>
                  <td>#</td>
               </tr>
            </tbody>
         </table>
      </section>
{%  endblock %}  