<!doctype html>
<html lang="fr">
    
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="public/css/style.css">


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
        <script src="public/js/script.js"></script>
    
    </head>
    
   <body>
        <header> 
        {# VOIR OU FAUT METTRE javascript:void(0) #}
        {%  block header %} 
        
            

            <nav class="navbar navbar-expand-custom navbar-mainbg">
                <a class="navbar-brand navbar-logo" href="#">
                    <img class="logo" src="./public/img/cropped-LRGEB2-5.png" alt="Grapefruit slice atop a pile of other slices">
                </a>
                <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars text-white"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                        <li class="nav-item active ">
                            <a class="nav-link" href="?controller=home">
                                Accueil
                            </a>
                        </li>
                        {% if session.utilisateur.admin == 1 %} 
                            <li class="nav-item ">
                                <a class="nav-link" href="?controller=gestionUtilisateur">
                                    Gestion utilisateur
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item ">
                                <a class="nav-link" href="?controller=gestionScore">
                                    Score
                                </a> 
                            </li>
                        {% endif %} 
                        <li class="nav-item">
                        {% if session.utilisateur %}
                            <a href="?controller=connect&action=logout">Déconnexion</a>
                        {% else %}
                            <a href="?controller=connect">Se connecter</a>   
                        {% endif %}   
                        </li>
                    </ul>
                </div>
            </nav>

        {% endblock %}
        </header>

        <main>
        {% block body %}{% endblock %}
        </main>

        {% block footer %}{% endblock %}
    
    </body>
</html>
      
