{% extends 'layout.twig' %} 

{%  block body %} 
    {# <p> Ceci est un test {{ test }}</p>  #}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-md-3">
                <form class="box mt-5" action="?controller=utilisateur&action=connect" method="post" name="login">
                    <h1 class="box-title">Connexion</h1> 
                    <input type="text" class="box-input" name="username" placeholder="Nom d'utilisateur">
                    <input type="password" class="box-input" name="password" placeholder="Mot de passe">
                    <input type="submit" value="Connexion " name="submit" class="box-button">
                    <p class="box-register">Vous êtes nouveau ici? <a href="?controller=utilisateur&action=create">S'inscrire</a></p>
                </form>
            </div> 
        </div> 
    </div>
{%  endblock %}  